:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {

  margin: 0px;

}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}


.flex-column-b {
  float: left;
  
  width: 50%;
 
  
  font-size: 0px;

}
.pagina-de-acesso {
  display: block;
  position: relative;
  height: 36px;
  margin: 250px 0 0 64px;
  color: #ff8f1c;
  font-family: Inter, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.email {
  display: block;
  position: relative;
  height: 28px;
  margin: 30px 0 0 64px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.imp {
  position: relative;
  width: 474px;
  height: 45px;
  margin: 0 0 0 64px;
  background: #d9d9d9;
  z-index: 2;
  border-style: none;
}
.email-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 187px;
  height: 28px;
  top: 17px;
  left: 8px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.313px;
  text-align: left;
  z-index: 8;
}
.password-input {
  display: block;
  position: relative;
  height: 28px;
  margin: 16px 0 0 64px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}


.password-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 187px;
  height: 28px;
  top: 17px;
  left: 8px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 13.313px;
  text-align: left;
  z-index: 9;
}
.forgot-password {
  display: block;
  position: relative;
  height: 13px;
  margin: 16px 0 0 417px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
  border-style: none;
  text-decoration: none;
  text-decoration-line: none;
}
.line {
  position: relative;
  width: 121px;
  height: 1px;
  margin: 4px 0 0 417px;
  background: url(./assets/images/6ec98653-e314-475d-bb78-cec487a273c0.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.button {

  position: absolute;
  width: 123px;
  height: 40px;
  margin: 51px 0 0 229px;
  cursor: pointer;
  background: #ff8f1c;
  border: none;
  z-index: 4;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 6px;
  left: 35px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.removebg-preview {
  position: fixed;
  width: 281px;
  height: 119px;
  top: 0;
  left: 0;
  background: url(./assets/images/fa217ef37f91214bb1a48edd33f0f694d04455ea.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.rectangle-2 {
  position: absolute;
  width: 281px;
  height: 119px;
  top: 0;
  left: 0;
  width: 159px;
  height: 40px;
  margin: 75px 0 0 51px;
  background: #11111f;
 
}
.removebg-preview-3 {
  position: absolute;
  width: 82px;
  height: 64px;
  top: 67px;
  left: 31px;
  background: url(./assets/images/92d61930eac9ce7ee251546165d73b642013fd5e.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.rectangle-4 {
  display: flex;
    float: right;
    width: 50%;
    background: #11111f;
    justify-content: center;
    height: 642px;
    flex-wrap: wrap;
    align-content: center;
}
.empty {
  position: relative;
  width: 640px;
  height: 474px;
  margin: 203px 0 0 0;
  background: url(./assets/images/a6048d40980fab01b1b627a96f332d007e92d955.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
